{% extends "layout.html" %}
{% block content %}

  <h3>We be searching</h3>
  <div>
    <form method="GET" action="/search">
      <div class="form-group">
        <label for="author-name" class="col-sm-offset-1 col-sm-10 control-label text-center">Whatcha searchin for?</label>
        <div class="col-sm-offset-1 col-sm-10">
          <input name="tag" type="text" class="form-control"/>
        </div>
      </div>
      <div class="col-sm-offset-1 col-sm-10 text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

{% endblock %}
